USER_UID=1000
USER_GID=1000

#MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=dev
MYSQL_USER=root
MYSQL_PASSWORD=root

#PostgreSQL
POSTGRES_ROOT_PASSWORD=secret  
POSTGRES_DATABASE=dev        
POSTGRES_USER=default
POSTGRES_PASSWORD=secret 
